input#searchTerm {
    width: 260px;
    padding: 9px 4px 9px 40px;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
@media screen and (min-width: 1024px) {

    .desktop-hidden {
        display: none !important;
    }

    #schools_table, #computers_table {
        table {
            background-color: white;
        }
    }
}

@media screen and (max-width: 1023px) {

    .mobile-hidden {
        display: none !important;
    }

    #schools_table, #computers_table {
        table {
            border: 0;
            background-color: transparent;
        }

        table body {
            background-color: transparent;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            display: block;
            margin-bottom: .625em;
        }

        table tr:last-child {
            margin-bottom: 0;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
            white-space: normal;
        }

        table td::before {
            content: attr(data-label);
            float: left;
            text-transform: uppercase;
        }
    }
}
